
.box1{
    width: 130px;
    height: 130px;
    position: absolute;
    margin-top: 435px;
    background-image: url("resources/prickle.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.box2{
    width: 130px;
    height: 130px;
    position: absolute;
    margin-top: 435px;
    background-image: url("resources/OldThree.png");
    background-size: contain;
    background-repeat: no-repeat;
}